section {
  height:90vh;
}
h1, h4 {
  font-family: 'Gamja Flower', cursive;
}

p {
  font-family: 'Lato', sans-serif;
}

#locmain {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 55vh 30vh;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
  grid-template-areas:
    "map sidebar"
    "clients sidebar";
  text-align: center;
}

#main1 {
  grid-area: map;
}

#main2 {
  grid-area: sidebar;
}

#main3 {
  grid-area: clients;
}

#main1 img {
  width:650px;
  height:400px;
}

@media screen and (max-width:1100px) {
  #locmain {
    grid-template-columns: 100vw;
    grid-template-rows: 60vh 350px 200px;
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;
    grid-template-areas:
      "map"
      "sidebar"
      "clients";
  }
}

/* @media screen and (max-width:900px) {

} */